<ion-content [fullscreen]="true" class="custom-content">
  <div class="ion-text-center">
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/img/imagennunu.jpg">
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>
      
      <div class="ion-padding">
        <ion-button routerLink="/login" expand="full">Iniciar sesión</ion-button>
        <ion-button routerLink="/registro" expand="full" color="secondary">Registrarse</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>



